<div class="container">
    <div class="align-items-center">

        <div class="row my-5">
            <div class="col-4"></div>
            <div class="col-4 ">
                <div class="card" style="background-color: lightgray;">
                    <div class="card-body text-center">
                        <h2> User Information </h2>
                        <div class="user p-4">
                            <button type="button" class="btn btn-info" style="margin-right: 1cm;"
                                (click)="addUser()">Registration</button>
                            <button type="button" class="btn btn-info" (click)="listUser()">User List</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

</div>